[web]
	browser = firefox
[help]
	browser = firefox
	format = web
[user]
	name = REDACTED
	email = REDACTED@imsofunny.com
	signingkey = REDACTED
[core]
	editor = nano
	;autocrlf = false
[color]
	ui = true
[push]
	default = simple
[alias]
	co = checkout
	uncommit = reset HEAD^
	last = log --name-status -1 HEAD
	logone = log --oneline
	logr = log --reverse
	logg = log --name-status
	loggm = log --name-status --no-merges
	loggr = log --name-status --reverse
	loggmr = log --name-status --no-merges --reverse
	loggad = log --diff-filter=AD --name-status
	loggraph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	# same as loggraph, but I always seem to think of "tree" when I want to do this, so
	logtree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	diffad = diff --diff-filter=AD --name-status
	diffmod = diff --diff-filter=M
	difff = diff --name-status
	diffstg = diff --staged
	diffigsp = diff --ignore-all-space
	diffclrmv = diff --color-moved=zebra
	diff4 = diff -U4
	diff5 = diff -U5
	diff6 = diff -U6
	showw = show --name-status
	cldry = clean -nd
	clgo	= clean -df
	clremotebr = remote prune origin
	clremotebrpantheon = remote prune pantheon
	# see also: ./.git_delete-merged-branches.sh
	cherryx = cherry-pick -x
	cherrypit = rebase -r --onto
	# ^^ how to use: git cherrypit a1b2c3d4e5f6^ a1b2c3d4e5f6
	# "cherry pit" name idea (and instructions) from https://sethrobertson.github.io/GitFixUm/fixup.html#remove_deep
	# but -p is deprecated, ergo -r: https://github.com/SethRobertson/GitFixUm/issues/28
	brdatea = branch --sort=committerdate
	brdated = branch --sort=-committerdate
	brdel = branch -D
	pushsu = push --set-upstream origin
	pr = !sh -c 'git fetch $1 refs/pull/$2/head:pr-$1-$2 && git checkout pr-$1-$2' -
	tagdatea = tag --sort=committerdate
	tagdated = tag --sort=-committerdate
	# because pantheon's default branch is still master, but sometimes we need to push something that's also on GitHub, where "main" is the default branch:
	pushmain-to-pantheonmaster = push pantheon main:master
	# also: git tag | grep pantheon_live_ | sort -k1.15n | tail -1
	# also, after deleting a tag locally that was pushed to the remote, to delete the remote tag:
	# git push origin :refs/tags/name_of_tag
	# see also: .bash_aliases-excerpt -- drupal + config + git + lando section
# helper to store credentials (specifically for bitbucket app passwords, idk what else it would work for, but that's all I'm using it for right now)
[credential]
	helper = store
[init]
	defaultBranch = main
